.mainDemoScreenContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 20px;
}

.demoSquareContainer {
   width: 200px;
   height: 200px;
   position: relative;
}

.demoSquare {
   width: 95%;
   height: 80%;
   bottom: 0;
   box-shadow: 0px 0px 5px 3px  rgb(189, 189, 189);
   transition: .22s all ease;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
}
.demoSquare:hover {
   cursor: pointer;
   box-shadow: 0px 0px 10px 4px  rgb(189, 189, 189);
   bottom: 10px;
}

.demoSquareText {
   color: black
}